@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #e0e0e0; 
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
}


.form_container { 
    border: 1px solid #000000; 
    padding: 20px; 
    width: 600px; 
    border-radius: 10px;
    margin: 0 auto 20px auto; 
    background-color: #fdd835;
    margin-top: 70px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
}

fieldset { 
    border: 2px solid black; 
    padding: 15px; 
}

legend { 
    font-weight: bold; 
    font-size: 1.1em; 
    padding: 0 10px;
}

label { 
    font-weight: bold; 
    display: inline-block;
}


input { 
    width: 250px; 
    margin: 5px 0; 
    border: 1px solid black; 
    padding: 3px;
    border-radius: 5px;
}

textarea { 
    width: 100%; 
    height: 100px; 
    margin: 10px 0; 
    border: 1px solid black; 
    border-radius: 7px;
    display: block;
    box-sizing: border-box; 
}


.buttons { 
    margin-top: 10px; 

}

.buttons button {
    background-color: #eee;
    padding: 10px 30px ;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black; 
}


.buttons button:hover {
    background-color: #ddd;
}

.reviews_list { 
    width: 590px; 
    margin: 0 auto; 
}

.review_table { 
    width: 100%; 
    border-collapse: collapse; 
    margin-bottom: 15px; 
    border: 2px solid black; 
}


.review_header { 
    background-color: #f9f9f9; 
    font-size: 14px; 
    font-weight: 500;
}

.review_header td, 
.review_body td { 
    border: 1px solid black; 
    padding: 8px; 
}

.review_body { 
    background-color: white; 
}

.msg { 
    text-align: center; 
    font-weight: bold; 
    margin-bottom: 20px;
}