@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body {
    font-family: 'poppins ',  sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


fieldset {
    background: white;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #28a745; 
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    width: 350px;
    margin: auto;
    margin-top: 190px;
}
legend {
    text-align: center; 
    color: #333; 
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2rem;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
}


input , button{
    font-family: 'poppins' ,sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #28a745; 
    border-radius: 5px;
    outline: none;
    box-sizing: border-box; 
    font-size: 15px;
    color:  #495057;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
 background-color: #218838;
 }

 .container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
 }

 .header p {
    background-color: #28a745;
    padding: 8px 25px;
    font-size: 15px ;
    font-weight: 600;
    border-radius: 5px;
}

.header p a {
    color: white;
    text-decoration: none;
 }

 .header p:hover {
 background-color: #218838;
 }


.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    border: 1.5px solid #28a745; 
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    width: 80%;
    max-width: 600px;
}

h3 {
    color: #333;
    font-size: 24px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
}

th {
    background-color: #28a745; 
    color: white;
    padding: 15px;
    text-align: left;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}