@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





body {
    font-family: 'poppins', sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.content {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    width: 350px;
}
h2 { 
    text-align: center; 
    color: #333; 
}
input, select, button {
    font-family: 'poppins' ,sans-serif;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #28a745; 
    border-radius: 5px;
    outline: none;
    box-sizing: border-box; 
    
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
     background-color: #218838;
     }
.resultat { 
    background-color: #e9ecef;
    font-weight: 400; 
    color: #495057;
    outline: none;
    text-align: center;
}
.content p {
    color: red;
    font-size: 15px;
    text-align: center;
    letter-spacing: 1.3px;
}

select {

    font-size: 16px;
    color: #424141;
    border: 1px solid #28a745; 
    cursor: pointer;
    appearance: none;
    outline: none;
}

